:root {

    --red-250: rgb(199, 92, 92);
    --dark-1000: black;
    --dark-700: rgb(42, 41, 41);
    --dark-600: rgb(72, 72, 72);
    --dark-500: black;
    --dark-200: rgb(124, 124, 124);
    --white-0: white;
    --white-500: white;
    --white-100: rgba(255, 255, 255, 0.899);
    --horizontal-padding: 0vh;
    --vertical-padding: 0vh;

}

/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; 
font-family: 'Overpass Mono', monospace;
 */


body {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--dark-1000);
    padding-right: var(--horizontal-padding);
    padding-left: var(--horizontal-padding);
    color: var(--white-100);
    font-family: 'Overpass Mono', monospace;

}

html ::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--red-250);
    text-decoration: underline;

}

select {
    border: 0;
}


select:focus-visible{
    outline:none;
}

select option {
    background-color: black;
    color: white;
  }

  select option:hover {
    background-color: green;
  }


  .view {
    padding: 25px;
  }